/node_modules
/.env
/config/*.ts
!/config/default.ts
!/config/test.ts
/logs
/logs/app-*.log
/cookies.json
/cookies.txt
/dist
/coverage
/locales/resources.d.ts
/prisma/dev.db
/pnpm-lock.yaml
/.vscode
/.dpy
