{
    "botInfo": {
        "name": "Cadence",
        "websiteUrl": "Unknown",
        "botInviteUrl": "Unknown",
        "supportServerInviteUrl": "Unknown"
    },
    "systemServerGuildIds": [
        "Server id where system commands can be used",
        "Another server id where system commands can be used"
    ],
    "embedColors": {
        "colorSuccess": "#23A55A",
        "colorWarning": "#F0B232",
        "colorError": "#F23F43",
        "colorInfo": "#5865F2",
        "colorNote": "#80848E"
    },
    "playerOptions": {
        "leaveOnEmpty": true,
        "leaveOnEmptyCooldown": 60000,
        "leaveOnEnd": true,
        "leaveonEndCooldown": 60000,
        "leaveOnStop": true,
        "leaveOnStopCooldown": 60000,
        "defaultVolume": 50,
        "maxQueueSize": 1000,
        "maxHistorySize": 100
    },
    "progressBarOptions": {
        "length": 14,
        "timecodes": false,
        "separator": "┃",
        "indicator": "🔘",
        "leftChar": "▬",
        "rightChar": "▬"
    },
    "embedIcons": {
        "logo": "🤖",
        "beta": "`beta`",
        "new": "`new`",
        "rule": "📒",
        "support": "❓",
        "bot": "🤖",
        "audioPlaying": "🎶",
        "audioStartedPlaying": "🎶",
        "success": "✅",
        "error": "⚠️",
        "warning": "⚠️",
        "disable": "🚫",
        "enable": "✅",
        "disabled": "✅",
        "enabled": "✅",
        "nextTrack": "⏭️",
        "previousTrack": "⏮️",
        "pauseResumeTrack": "⏯️",
        "shuffleQueue": "🔀",
        "loop": "🔁",
        "autoplay": "♾️",
        "looping": "🔁",
        "autoplaying": "♾️",
        "skipped": "⏭️",
        "back": "⏮️",
        "pauseResumed": "⏯️",
        "shuffled": "🔀",
        "volume": "🔊",
        "volumeIsMuted": "🔇",
        "volumeChanged": "🔊",
        "volumeMuted": "🔇",
        "queue": "🎶"
    },
    "filterThreadAmount": "2",
    "filterList": [
        {
            "label": "Bass boost",
            "value": "bassboost_low",
            "description": "Boost the bass of the audio.",
            "emoji": "🔉"
        },
        {
            "label": "Bass boost high",
            "value": "bassboost",
            "description": "Boost the bass of the audio a lot.",
            "emoji": "🔊"
        },
        {
            "label": "Night core",
            "value": "nightcore",
            "description": "Speed up the audio (higher pitch).",
            "emoji": "🐱"
        },
        {
            "label": "Lo-fi",
            "value": "lofi",
            "description": "Low fidelity effect (lower quality).",
            "emoji": "📻"
        },
        {
            "label": "Vaporwave",
            "value": "vaporwave",
            "description": "Slow down the audio (lower pitch).",
            "emoji": "🌸"
        },
        {
            "label": "Ear rape",
            "value": "earrape",
            "description": "Extremely loud and distorted audio.",
            "emoji": "👂"
        },
        {
            "label": "8D",
            "value": "8D",
            "description": "Simulate 8D audio effect (surround).",
            "emoji": "🎧"
        },
        {
            "label": "Treble",
            "value": "treble",
            "description": "Increase the high frequencies.",
            "emoji": "🎼"
        }
    ]
}
