{
    "clientId": "Your bot Application ID here.",
    "token": "Your bot auth token here.",
    "systemServerGuildIds": ["Server id where system commands can be used", "Another server id where system commands can be used"],
    "embedColors": {
        "colorSuccess": "#23A55A",
        "colorWarning": "#F0B232",
        "colorError": "#F23F43",
        "colorInfo": "#5865F2",
        "colorNote": "#80848E"
    },
    "playerOptions": {
        "leaveOnEmpty": true,
        "leaveOnEmptyCooldown": 60000,
        "leaveOnEnd": true,
        "leaveonEndCooldown": 60000,
        "leaveOnStop": true,
        "leaveOnStopCooldown": 60000,
        "defaultVolume": 50,
        "maxQueueSize": 1000,
        "maxHistorySize": 100
    },
    "progressBarOptions": {
        "length": 12,
        "timecodes": false,
        "separator": "┃",
        "indicator": "🔘",
        "leftChar": "▬",
        "rightChar": "▬"
    },
    "minimumLogLevel": "debug",
    "minimumLogLevelConsole": "info",
    "filterThreadAmount": "4",
    "filterList": [
        {
            "label": "Bass boost",
            "value": "bassboost_low",
            "description": "Boost the bass of the audio.",
            "emoji": "🔉"
        },
        {
            "label": "Bass boost high",
            "value": "bassboost",
            "description": "Boost the bass of the audio a lot.",
            "emoji": "🔊"
        },
        {
            "label": "Night core",
            "value": "nightcore",
            "description": "Speed up the audio (higher pitch).",
            "emoji": "🐱"
        },
        {
            "label": "Lo-fi",
            "value": "lofi",
            "description": "Low fidelity effect (lower quality).",
            "emoji": "📻"
        },
        {
            "label": "Vaporwave",
            "value": "vaporwave",
            "description": "Slow down the audio (lower pitch).",
            "emoji": "🌸"
        },
        {
            "label": "Ear rape",
            "value": "earrape",
            "description": "Extremely loud and distorted audio.",
            "emoji": "👂"
        },
        {
            "label": "8D",
            "value": "8D",
            "description": "Simulate 8D audio effect (surround).",
            "emoji": "🎧"
        },
        {
            "label": "Treble",
            "value": "treble",
            "description": "Increase the high frequencies.",
            "emoji": "🎼"
        }
    ]
}
