


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(237, 227, 227);
    color: whitesmoke;
    display: grid;
    place-items: center;
   
}
header{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 2px solid whitesmoke; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
   
}
header .menu-side , .my{
   width: 20%;
   height: 90%;
   background-color:#022f45;
   color: whitesmoke;
  
}
header .my{
    width: 80%;
    height:90%;
    background-color: #1d2e5a;
    color:#f9f8f5 ;
  
}
header .master-play{
    height: 10%;
    width: 100%;
    background-color:#2b1744 ;
    color:#f9f8f5 ;
    /* border: 2px solid whitesmoke; */
    box-shadow: 0px 3px 8px #25337e;
   
}
header .menu-side h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px ;
    font-weight: 500;
}
header .menu-side .playlist{
    margin: 20px 0px 0px 20px ;   
}
header .menu-side .playlist h4{
     font-size: 14px; 
     font-weight: 400;
     padding-bottom: 10px;
     color: #a7a6a4;
     cursor: pointer;
     display: flex;
     align-items: center;
     transition: .3s linear;
}
header .menu-side .playlist h4:hover{

    color: white;

}
header .menu-side .playlist h4 span{
position: relative;
margin-right: 35px;
}
header .menu-side .playlist h4 span::before{ 
    content: '' ;
    position: absolute;
    width: 4px;
    height: 4px;
     border: 2px solid whitesmoke;
    border-radius: 50%;
    top:-4px;
     transition: .3s linear;

}
header .menu-side .playlist h4:hover span::before{
    border: 2px solid whitesmoke;
}
header .menu-side .playlist h4 .fa{
    display: none;
}
header .menu-side .playlist  .active{
  color: aqua;
}
header .menu-side .playlist  .active span{
    display: none;
}
header .menu-side .playlist  .active .fa{
     display:flex ;
     margin: 10px;
}
header .menu-side .menu-song{
    height: 450px;
    width: 100%;
    margin-top:25px;
    background-color:#042345 ;
    color:#f9f8f5 ;
    /* border: 2px solid transparent; */
    overflow: auto;
}
/* header .menu-side .menu-song:hover{
    border: 2px solid #d9d8d5;
} */
header .menu-side .menu-song::-webkit-scrollbar{
    display: none;
}


header .menu-side .menu-song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu-side .menu-song li:hover{
    background-color: rgb(105 ,105, 105,  .1);
}
header .menu-side .menu-song li span{
    font-size: 8px;
    font-weight: 600;
    color: #f9f8f5;

}
header .menu-side .menu-song li img{
    width: 32px;
    height: 32px;
    margin: 10px;
}
header .menu-side .menu-song li h5{
    font-size: 10px;
    margin-left: 15px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
}
header .menu-side .menu-song li h5:hover{
    border: 1px solid #d9d8d5;
}
header .menu-side .menu-song li h5 .subtitle{
    font-size: 5px;
     color: #a7a6a4;
}
header .menu-side .menu-song li .play{
    position: absolute;
    right: 15px;
  
}
header .master-play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .master-play .wave{
    width: 40px;
    height: 40px;
    padding-bottom: 8px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
header .master-play .wave:hover{
border: 1px solid #d9d8d5;}
header .master-play .wave .wave1{
    width: 3px;
    height: 10px;
   background-color: aqua;
    animation: unset;
   margin-right: 3px;
   margin-left: 3px;
   border-radius: 10px 10px 0px 0px;
}
header .master-play .wave .wave1:nth-child(2){
   
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
header .master-play .wave .wave1:nth-child(3){
    animation-delay: .8s;
    height: 8px;
}

/* javascript classes */
header .master-play .active1 .wave1{
animation: wave .5s linear infinite;
}
header .master-play .active1 .wave1:nth-child(2){

    animation-delay: .4s;
}
header .master-play .active1 .wave1:nth-child(3){
    animation-delay: .8s;

}

@keyframes wave {
    0%{height: 10px;}
    50%{height: 15px;}
    100%{height: 10px;}
}

header .master-play img{
    width: 35px;
    height: 35px;
}

header .master-play h5{
    width: 130px;
   margin-left: 15px;
   color: aliceblue;
   line-height: 17px;
   font-size: 13px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
header .master-play h5 .subtitle{
    font-size: 11px;
    color: #a7a6a4;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .master-play .icon{
    font-size: 20px;
    color: #f9f8f5;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}
header .master-play .icon .fa{
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
header .master-play .icon .shuffle{
    font-size: 17px;
    color: #f9f8f5;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
header .master-play .icon #download-music{
    font-size: 20px;
    margin-left: 10px;
}

header .master-play .icon .fa:nth-child(3):hover{
    border: 1px solid #c6c3bf;
}
header .master-play span{
  color: whitesmoke;
  width: 32px;
  /* border: 2px solid whitesmoke; */
  font-weight: 400;
  font-size: 11px;
  cursor: pointer;
}
header .master-play #currentStart{
    margin: 0px 0px 0px 20px;
}
header .master-play .bar{
    position: relative;
    width: 43%;
    height: 2px;background-color: rgb(105 ,105, 170,  .1);
    margin: 0px 15px 0px 10px;
}
header .master-play .bar .bar2{ 
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: aqua;
    top:0;
    transition: 1s linear;
}
header .master-play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: aqua;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}
header .master-play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid aqua;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px aqua;
   
}
header .master-play .bar input{
    position: absolute;
    width: 100%;
    left: 0px;
    top: -7px;
   cursor: pointer;
   z-index: 99999999999999999;
   opacity: 0;
}
header .master-play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background-color: rgb(105 ,105, 170,  .1);
    /* margin: 50px; */

}
header .master-play .vol .fa{
    position: absolute;
    color: white;
    font-size: 20px;
    top: -10px;
   
    margin-right: 50px;
  
}
header .master-play .vol input{ 
    position: absolute;
    width: 100px;
    top: 6px;
 
  cursor: pointer;
  z-index: 99999999999999999;
  opacity: 0;
}
header .master-play .vol .vol-bar{
    position: absolute;
    width: 50px; 
    background-color: aqua;
    height: 100%;
    top: 0px;

    transition: 1s linear;
}

header .master-play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: aqua;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}



header .master-play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid aqua;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px aqua;
}
/* header .song-side::before{ */
    /* content: '';
    position: absolute;
    width: 75%;
    height: 300px;
    background-image: url("ajit.jpeg"); */
    /* background-position: center;
    background-size: cover;
    z-index: -1; */
/* } */
/* header .song-side{

 z-index: -2;
} */
/* header .navbar{
    height: 60px;
    color: white;
    background-color: #0b0223;
    display: flex;
    /* align-items: flex-end; */

header .my .navbar ul{
    display: flex;
    top: 30px;
}
header .my .navbar ul li{
 list-style-type: none;
    position: relative;
    font-size: 20px;
    color: #979793;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;  
}
header .my .navbar ul li:hover{
    color: rgb(249, 245, 245);
}
header .my .navbar ul li:nth-child(1){
    color: white;
}
header .my .navbar ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: aqua;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}



/* amazon */


header .my .navbar{
    width: 100%;
    height: 10%;
    font-size: 18px;
    background-color: #1d2e5a;
    color:#f9f8f5 ;
    background-color: #0b0223;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    top:20px;

  }
  
  
header .my .navbar .nav-search:hover{
    border: 1px solid #979793;
  }  
  
header .my .navbar .nav-search{
    display: flex;
    background-color:transparent;
    width: 50%;
    height: 40px;
    border-radius: 3px;
    justify-content: space-evenly;
    cursor: pointer;
    

  }
  header .my .navbar  .searchoption{
     background-color: transparent;
     width: 50px;
     text-align: center;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     border:none;
  }
  header .my .navbar  .search{
   width:50%;
   font-size: 1rem;
   border: none;
   background-color: transparent;
   color: whitesmoke;

  }
  header .my .navbar .searchicon{
    width: 45px;
  font-size: 1.3rem;;
    display: flex;
    justify-content:center ;
  align-items: center;
  background-color:transparent;
  color: rgb(207, 200, 200);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  }
  /* box4 */
  header .my .navbar  .language{
    background-color:black;
    color: #cccccc;
    width: 100px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    display: flex;
  }
  header .my .navbar  .border{
    border: 1.8px solid transparent;
}
  header .my .navbar .border:hover{
    border: 1.8px solid white;
} 
  header .my .navbar .lang{
    background-color:black;
    color:white;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
  }   

/* template */

header .my .sec-2{
    width: 100%;
    height: 10%;
    /* padding: 15px; */
    padding-top: 0;
 
    justify-content: space-between;
    left: 0px;
  
}
header .my  .slide-sec h2{
    font-size: 28px;
    
    height: 30px;
    top: -20px;
    margin-bottom: 10px;
    background-color: rgb(187, 185, 185);
    color:rgb(11, 9, 9);
    font-family: 'Times New Roman', Times, serif;
}
header .my .slide-sec{
    color: white;
    overflow:-moz-hidden-unscrollable;
    justify-content: space-between;
    height: 100%; 
    width: 100%;
    background-color: #113d7e;
    position: relative;
} 
header .my .product-slide{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
  
}
header .my .product-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
header .my .product-slide::-webkit-scrollbar-thumb{

    border-radius: 10px;
    cursor: pointer;
}
header .my .product-slide li{
    list-style: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom:15px ;
}
/* header .my .l-btn , .r-btn{
    background-color: rgb(172, 186, 197);
    height:40px ;
    width: 50px;
    text-align: center;
    cursor: pointer;
    top: 55%;
    position:absolute;
    border: 3px solid transparent;
    font-size: 2rem;
    color: #113d7e;
    font-weight:bolder;
    
    
    } */
    /* header .my  .l-btn{
        border-radius:0 5px 5px 0;
        left: 0px;
    
    }
    header .my  .r-btn{
        border-radius:0 5px 5px 0;
        right: 0px;
        
    }
    header .my .l-btn:hover{
        border: 1px solid black;
    }
    header .my  .r-btn:hover{
        border: 1px solid black;
    }
    header .my  .r-btn i , .l-btn i{
    color:  #113d7e;
    position: absolute;
    font-size: 20px;
    top:45%;
    left: 15%;
    right: 15%;
    
    } */


    header .my .sec2{
        width: 100%;
        height: 18%;
        /* padding: 15px; */
        padding-top: 0;
        justify-content: space-between;
        left: 0px;
      
    }
    header .my  .productslide span{
        font-size: 15px;
        text-align: center;
        justify-content: center;
        height: 30px;
        top: -20px;
        margin-bottom: 10px;
        background-color:transparent;
        color:whitesmoke;
        font-family: 'Times New Roman', Times, serif;
    }
    header .my .slidesec{
        color: white;
        overflow:-moz-hidden-unscrollable;
        justify-content: space-between;
        height: 100%; 
        width: 100%;
        background-color: #113d7e;
        position: relative;
    } 
    header .my .productslide{
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
      
    }
    header .my .productslide::-webkit-scrollbar{
        background-color: transparent;
        height: 7px;
        cursor: pointer;
    }
    header .my .productslide::-webkit-scrollbar-thumb{
    
        border-radius: 10px;
        cursor: pointer;
    }
    header .my .productslide li{
        list-style: none;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom:15px ;
    }

    header .my  .slidesec h2{
        font-size: 28px;
        
        height: 30px;
        top: -20px;
        margin-bottom: 10px;
        background-color: rgb(187, 185, 185);
        color:rgb(11, 9, 9);
        font-family: 'Times New Roman', Times, serif;
    }



/* animation */

.productimage1 {
 display: flex;
 width: 100%;
 
    position: relative;
   animation: carousel 5s alternate infinite;
}

@keyframes carousel {
    
     0%{
   right: 100px;
     }
     20%{
       right: calc(200px*2); 
     }
     60%{
      right: calc(400px*3);
     }
     80%{
        right: calc(600px*4);
       }
       100%{
        right: calc(600px*5);
       }
    
     
   

}
header .my .productslide1{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
  
}
header .my .productslide1::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
header .my .productslide1::-webkit-scrollbar-thumb{

    border-radius: 10px;
    cursor: pointer;
}
header .my .productslide1 li{
    list-style: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom:15px ;
}
/* header .my .l-btn , .r-btn{
    background-color: rgb(172, 186, 197);
    height:40px ;
    width: 50px;
    text-align: center;
    cursor: pointer;
    top: 55%;
    position:absolute;
    border: 3px solid transparent;
    font-size: 2rem;
    color: #113d7e;
    font-weight:bolder;
    
    
    } */
    /* header .my  .l-btn{
        border-radius:0 5px 5px 0;
        left: 0px;
    
    }
    header .my  .r-btn{
        border-radius:0 5px 5px 0;
        right: 0px;
        
    }
    header .my .l-btn:hover{
        border: 1px solid black;
    }
    header .my  .r-btn:hover{
        border: 1px solid black;
    }
    header .my  .r-btn i , .l-btn i{
    color:  #113d7e;
    position: absolute;
    font-size: 20px;
    top:45%;
    left: 15%;
    right: 15%;
    
    } */
/* 
    header .my  .productslide1 span{
        font-size: 15px;
        text-align: center;
        justify-content: center;
        height: 30px;
        top: -20px;
        margin-bottom: 10px;
        background-color:transparent;
        color:whitesmoke;
        font-family: 'Times New Roman', Times, serif;
    } */

main{
    background-color: #657bba;
    color: #cccccc;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
 
}
main #my{
    margin-top: 20px;
}
main #my h3{
  
font-size: 50px;
margin: 20px;
color:azure;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 700;
} 
main #my h5{
  
    font-size: 30px;
    margin: 20px;
    color:rgb(204, 214, 214);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }     
main #my ul li{
    list-style-type: none;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
}
main #my ul li span{
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 5px;
    margin-left: 25px;
    margin-top: 10px;
}
/* second */
main #qq{
    margin-top: 20px;
}


main #qq h3{
  
    font-size: 50px;
    margin: 20px;
    color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    } 

   
    main #qq h5{
      
        font-size: 30px;
        margin: 20px;
        color:rgb(204, 214, 214);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
        }     
    main #qq ul li{
        list-style-type: none;
        font-size: 18px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    main #qq ul li span{
        font-size: 20px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 5px;
        margin-left: 25px;
        margin-top: 10px;
    }
/* third */
main #kk{
    margin-top: 20px;
    cursor: pointer;
   
}
main #kk #lk{
    float: left;
    margin-right: 20px;
    margin-top: -20px;
    cursor: pointer;
}

main #kk h3{
  
    font-size: 30px;
    margin-left: 20px;
    align-items: center;
    color:rgb(170, 175, 175);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    } 
    main #kk h2{
  
        font-size: 60px;
        margin: 20px;
        color:azure;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        cursor: pointer;
        } 
    main #kk h5{
      
        font-size: 30px;
        margin: 20px;
        color:rgb(204, 214, 214);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        cursor: pointer;
        } 
        main #kk p{
            font-size: 25px;
            font-family: monospace;
           font-weight: 700;
           margin: 20px;
            color:rgb(204, 214, 214);
            cursor: pointer;
        } 
        main #kk #button{
            justify-content: center;
            align-items: center;
            background-color: rgb(149, 43, 43);
            border-radius: 30%;
            border: 2px solid black;
            font-size: 30px;
            font-weight: 500;
            color:whitesmoke ;
            width: 15%;
            height: 10%;
            cursor: pointer;
        }  
        main #kk #button:hover{
            color: rgba(245, 255, 103, 0.75);
            background-color: #6c6b6a;
        }       
    main #kk ul li{
        list-style-type: none;
        font-size: 25px;
        margin: 20px;
     
        border: 1px solid rgb(20, 15, 15);
    }
    main #kk ul li span{
        font-size: 20px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 5px;
        margin-left: 25px;
        margin-top: 10px;
    }
/* fourth */
main #ol{
    margin-top: 20px;
   
}


main #ol h3{
  
    font-size: 50px;
    margin: 20px;
    color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    } 
    main #ol h5{
      
        font-size: 30px;
        margin: 20px;
        color:rgb(204, 214, 214);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
        }     
    main #ol ul li{
        list-style-type: none;
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    main #ol ul li span{
        font-size: 20px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 5px;
        margin-left: 25px;
        margin-top: 10px;
    }
/* fifth */
main #ll{
    margin-top: 20px;
   
}


main #ll h3{
  
    font-size: 50px;
    margin: 20px;
    color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    } 
    main #ll h5{
      
        font-size: 30px;
        margin: 20px;
        color:rgb(204, 214, 214);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
        }     
    main #ll ul li{
        list-style-type: none;
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    main #ll ul li span{
        font-size: 20px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 5px;
        margin-left: 25px;
        margin-top: 10px;
    }
/* sixth */
main #lo{
    margin-top: 20px;
   
}


main #lo h3{
  
    font-size: 50px;
    margin: 20px;
    color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    } 
    main #lo h5{
      
        font-size: 30px;
        margin: 20px;
        color:rgb(204, 214, 214);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
        }     
    main #lo ul li{
        list-style-type: none;
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    main #lo ul li span{
        font-size: 20px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 5px;
        margin-left: 25px;
        margin-top: 10px;
    }
    /* seventh */
    main #pp{
        margin-top: 20px;
       
    }
    
    
    main #pp h3{
      
        font-size: 50px;
        margin: 20px;
        color:azure;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 700;
        } 
        main #pp h5{
          
            font-size: 30px;
            margin: 20px;
            color:rgb(204, 214, 214);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
            }     
        main #pp ul li{
            list-style-type: none;
            font-size: 25px;
            margin-left: 20px;
            margin-bottom: 15px;
        }
        main #pp ul li span{
            font-size: 20px;
            font-weight: 400;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 5px;
            margin-left: 25px;
            margin-top: 10px;
        }